
.head-container {
  color: $primary-color;
}

.input-field {
  font-size: 1.125em;
  height: 2.5rem;
  outline: none;
  width: 26.25rem;
}

button {
  background-color: $primary-color;
  height: 2.5rem;
}
