
.head-container {
    color: $primary-color
}

.input-field {
    outline: none;
    font-size: 1.125em;
    height: 2.5rem;
    width: 26.25rem;
}

button {
    background-color: $primary-color;
    height: 2.5rem;
}